.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navbar{
    background-color: #003F5C !important;
}
.navbar-brand{
    color: white !important;
    font-weight: bold !important;
}
.nav-link{
     color: #fff !important;
}
.footer{
    padding: 10px;
    text-align: center;
    background-color: #003F5C;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.content{
    padding-top: 80px;
}